<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#8c52ff">
    <meta name="description" content="A JavaScript NEXA library for Node.js and browsers.">

    <title>NexaJS - Nexa Is Building Next</title>

    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

    <!-- Open graph -->
    <meta property="og:url" content="https://nexajs.org" />
    <meta property="og:title" content="Cash DevOps">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A JavaScript NEXA library for Node.js and browsers.">
    <meta property="og:image" content="https://nexajs.org/poster.jpg?1659809233">

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Cash DevOps">
    <meta name="twitter:description" content="A JavaScript NEXA library for Node.js and browsers.">
    <meta name="twitter:image" content="https://nexajs.org/poster.jpg?1659809233">

</head>

<body>

<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>

<div id="app"></div>
<!-- built files will be auto injected -->

</body>
</html>
