<template>
    <main class="relative">
        <div class="absolute inset-x-0 bottom-0 h-1/2 bg-gray-100"></div>

        <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
            <div class="relative shadow-xl sm:rounded-2xl sm:overflow-hidden">
                <div class="absolute inset-0">
                    <img
                        class="h-full w-full object-cover"
                        src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100"
                        alt="People working on laptops"
                    />
                    <div class="absolute inset-0 bg-gradient-to-r from-purple-800 to-indigo-700 mix-blend-multiply"></div>
                </div>

                <div class="relative px-4 py-16 sm:px-6 sm:py-24 lg:py-32 lg:px-8">
                    <h1 class="text-center font-extrabold tracking-tight">
                        <span class="block text-white text-4xl sm:text-6xl lg:text-7xl">
                            Nexa Is Building Next
                        </span>

                        <span class="mt-2 block text-indigo-200 text-3xl sm:text-4xl lg:text-5xl">
                            Join Us On Our Journey
                        </span>
                    </h1>

                    <p class="mt-6 max-w-lg mx-auto text-center text-xl text-indigo-50 sm:max-w-3xl">
                        <span class="hidden sm:inline">
                            Take a moment to discover the many ways Nexa can benefit you.
                        </span>

                        We'll guide you from <strong class="text-yellow-200">Metaverse NFTs</strong> to <strong class="text-yellow-200">Infinite Scalability</strong>; then we'll take a walk by <strong class="text-yellow-200">Smart Contracts</strong> and finish with <strong class="text-yellow-200">Zero Confirmation</strong>.

                        <span class="hidden sm:inline">
                            What are you waiting for?
                            Your journey down the rabbit hole begins now!
                        </span>
                    </p>

                    <div class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center">
                        <div class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5">
                            <a href="https://gitlab.com/modenero/nexajs" target="_blank" class="flex items-center justify-center px-4 py-3 border border-transparent text-2xl font-medium rounded-md shadow-sm text-indigo-700 bg-white hover:bg-indigo-50 sm:px-8">
                                See the Code
                            </a>

                            <a href="https://docs.nexajs.org" target="_blank" class="flex items-center justify-center px-4 py-3 border border-transparent text-2xl font-medium rounded-md shadow-sm text-white bg-indigo-500 bg-opacity-60 hover:bg-opacity-70 sm:px-8">
                                Read the Docs
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
export default {
    data: () => ({
        //
    }),
    computed: {
        //
    },
    methods: {
        //
    },
    created: function () {
        //
    },
    mounted: function () {
        //
    },
}
</script>
